### Problem 2

In [71]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import ttest_rel, ttest_ind, shapiro

In [25]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
y = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
print('Парный критерий Стьюдента: ', ttest_rel(x, y)[1])
print('Непарный критерий Стьюдента: ', ttest_ind(x, y)[1])

Парный критерий Стьюдента:  0.0
Непарный критерий Стьюдента:  0.4697020728008009

### Problem 3

In [40]:
x = [-1, 2, 3, -14, 5, 6, -17, 8, 9, 10]
y = [1, -2, -13, 4, -15, -16, 7, -18, -19, -20]
print('Парный критерий Стьюдента: ', ttest_rel(x, y)[1])
print('Непарный критерий Стьюдента: ', ttest_ind(x, y)[1])

Парный критерий Стьюдента:  0.1303657875786181
Непарный критерий Стьюдента:  0.0336167947004744

### Problem 4

In [65]:
df = pd.read_csv('colon_cancer_tumor_vs_normal_paired_FPKM.tsv', sep='\t', index_col=0)
df.head(3)

,TCGA-A6-2671-01A,TCGA-A6-2675-01A,TCGA-A6-2678-01A,TCGA-A6-2679-01A,TCGA-A6-2680-01A,TCGA-A6-2671-11A,TCGA-A6-2675-11A,TCGA-A6-2678-11A,TCGA-A6-2679-11A,TCGA-A6-2680-11A
A1CF,0.104572,1.879323,2.263045,0.591325,1.748081,2.806357,1.943005,3.286552,2.621292,3.730646
A2M,5.245269,6.391484,5.349484,3.757025,5.531613,6.595546,7.227086,7.368415,6.973612,6.050510
A4GALT,1.950884,2.658956,1.106100,2.531637,2.134035,2.577567,3.497008,2.434910,2.275149,2.388146

In [66]:
df['unpaired'] = stats.ttest_ind(df.iloc[:, 0:5], df.iloc[:, 5:], axis=1)[1]
df['paired'] = stats.ttest_rel(df.iloc[:, 0:5], df.iloc[:, 5:10], axis=1)[1]
df.head(3)

,TCGA-A6-2671-01A,TCGA-A6-2675-01A,TCGA-A6-2678-01A,TCGA-A6-2679-01A,TCGA-A6-2680-01A,TCGA-A6-2671-11A,TCGA-A6-2675-11A,TCGA-A6-2678-11A,TCGA-A6-2679-11A,TCGA-A6-2680-11A,unpaired,paired
A1CF,0.104572,1.879323,2.263045,0.591325,1.748081,2.806357,1.943005,3.286552,2.621292,3.730646,0.015811,0.027459
A2M,5.245269,6.391484,5.349484,3.757025,5.531613,6.595546,7.227086,7.368415,6.973612,6.050510,0.011557,0.029653
A4GALT,1.950884,2.658956,1.106100,2.531637,2.134035,2.577567,3.497008,2.434910,2.275149,2.388146,0.151852,0.105370

In [67]:
df.sort_values('unpaired', inplace=True)
print("Number of genes with differential expression, unpaired test:", df.loc[df['unpaired'] < 0.05].shape[0])

Number of genes with differential expression, unpaired test: 5516

In [68]:
df.sort_values('paired', inplace=True)
print("Number of genes with differential expression, paired test:", df.loc[df['paired'] < 0.05].shape[0])

Number of genes with differential expression, paired test: 5067

In [69]:
df.sort_values('unpaired', inplace=True)
top_uppaired = set(df.iloc[:10].index)
df.sort_values('paired', inplace=True)
top_paired = set(df.iloc[:10].index)
both = top_uppaired.intersection(top_paired)
print("Genes, menshioned twice: ", both)
print("Number: ", len(both))

Genes, menshioned twice:  {'RNF112', 'SPTBN2', 'ITM2A'}
Number:  3

### Problem 5

In [72]:
df1 = pd.read_csv('breast_cancer_1000_genes.tsv', sep='\t', index_col=0)
df1.head(3)

,TCGA-3C-AAAU-01A,TCGA-3C-AALI-01A,TCGA-3C-AALJ-01A,TCGA-3C-AALK-01A,TCGA-4H-AAAK-01A,TCGA-5L-AAT0-01A,TCGA-5L-AAT1-01A,TCGA-5T-A9QA-01A,TCGA-A1-A0SB-01A,TCGA-A1-A0SD-01A,...,TCGA-A2-A0YT-01A,TCGA-A2-A1FV-01A,TCGA-A2-A1FW-01A,TCGA-A2-A1FX-01A,TCGA-A2-A1FZ-01A,TCGA-A2-A1G0-01A,TCGA-A2-A1G1-01A,TCGA-A2-A1G4-01A,TCGA-A2-A1G6-01A,TCGA-A2-A259-01A
MT-CO3,12.208682,11.940729,13.206648,12.730925,12.149072,12.731782,12.450704,12.295202,11.796976,12.445482,...,12.651773,13.309171,12.063368,10.807096,11.676859,11.477643,12.042867,12.656959,11.617341,12.116037
MT-CO2,12.635929,12.496213,12.923663,12.780144,11.592246,12.105826,11.925842,12.907561,11.301659,12.192156,...,12.707383,13.619689,12.917135,11.349408,11.126341,11.420112,12.046082,12.216181,11.234004,11.894146
MT-CO1,12.685701,12.396964,12.763896,12.600145,11.909936,12.319483,12.042444,11.626691,11.533184,12.848486,...,12.730155,13.561623,12.534351,9.842210,11.990492,11.854787,12.129189,12.669717,11.581176,11.858962

In [74]:
count = 0
for gene in df1.index:
    if shapiro(df1.loc[gene])[1] > 0.05:
        count += 1

print(count/df1.shape[0] * 100)

56.89999999999999